$font: 100px;
$padding: 20px;
$font-color: white;
$sf: San Francisco;
$information-smallscreen:  920px;

html {
    border: 5px solid black;
    width:100%;
    height:100%;
    
}
body{
    height: 100%;
    width: 100%;
    font-family: $sf;
}

.myApp{
height: 100%;
}

.container{

    height: 100%;
    width: 100%;
}

.background{
    background-image: url("img/weather.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;   
}

.temp{
    font-size: $font;    

    @media screen and (max-width: $information-smallscreen) {
        margin-bottom: 100px;
      }
    
}

#temp{
       height: 300px;
    padding-top: $padding;
}

.middle{
   padding-top: 80px;
   padding-left: 40px;
    
}

input{
    width: 25% !important;
}

button{
    margin-top: 20px;
    color: rgb(87, 80, 80);

}
.row{
    height: 100% !important;
}

span{
    margin-right: 20px;
}
.location{
  display: inline-block;
  font-family: $sf;
  padding-top: 70px;
  padding-left:50px;
  font-size: 50px;
  padding-top: 20px;
}

footer{

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:black;
    color: white;
}

.info{
    color: $font-color; 
    font-family: $font;
    padding-top: 40px;
    padding-left: 30px;
}

