$font: 100px;

.temp{
    font-size: $font;
    
}

#temp{
   
    display: table;
    height: 100px;
    align-items: center;
    text-align: center;

}

.class{
    
    align-items: center;
}

html {
    border: 5px solid black;
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
}